{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 mt-5 boxes border shadow-sm p-3 text-center">
      <h1>{% trans "Social Network Login Failure" %}</h1>
      <br>
      <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
      <a href="{% url 'home' %}" class="btn general-btn">Go Home</a>
    </div>
  </div>
</div>
{% endblock %}
