{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 mt-5 boxes border shadow-sm p-3 text-center">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn general-btn" aria-label="click here to sign up">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
