{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 form-box shadow py-2 px-3 boxes">
            <h1 class="text-center">{% trans "Change Password" %}</h1>
            <hr>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
            <a href="/accounts/login/" aria-label="Click here to sign in" class="btn general-btn w-100" role="button">Login</a>
        </div>
    </div>
</div>

{% endblock %}
