{% extends "base.html" %}

{% load i18n %}
{% block head_title %}

{% trans "Change Password" %}{% endblock %} {% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 form-box shadow rounded-3 py-2 px-3 boxes">
            <h1 class="form-head text-center">{% trans "Change Password" %}</h1>
            <hr>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" name="action">
                    {% trans "Change Password" %}
                </button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
