{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 form-box shadow rounded-3 py-2 px-3 boxes">
            <h1 class="text-center">{% trans "Sign Up Closed" %}</h1>
            <hr>
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}
