{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row position-relative">
    <div class="col-md-8 position-absolute d-none d-sm-none d-md-block mt-3">
      <div id="" class="carousel slide" data-bs-ride="carousel">
        <h1 class="brand-name position-absolute text-center fst-italic w-100"><i class="fa-solid fa-share-nodes"></i> Daily Sync</h1>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="home-img-1 w-100"></div>
          </div>
          <div class="carousel-item">
            <div class="home-img-2 w-100"></div>
          </div>
          <div class="carousel-item">
            <div class="home-img-3 w-100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-box col-sm-12 col-md-5 col-lg-3 bg-dark shadow rounded p-4">
    <h1 class="d-sm-block d-md-none text-center fst-italic w-100"><i class="fa-solid fa-share-nodes"></i> Daily Sync</h1>
    <h3 class="blue-like text-center mt-4">Get in Touch with Family & Friends</h3>
    <a class="btn home-btn w-50 my-4 offset-3" href='/accounts/login/'>Sign in</a>
    <a class="btn home-btn w-50 my-2 offset-3" href='/accounts/signup/'>Sign up</a>
    <h5 class="blue-like text-center mt-4"></h5>
  </div>
</div>
{% endblock %}