{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row gx-0 mt-4 mt-lg-3 position-relative">
        <img src="{{profile.background.url}}" alt="user profile background" class="user-bg shadow-sm boxes w-100 border"
            height="330" width="160">
            <div class="position-absolute mx-4 my-3 d-flex flex-col">
                <img class="profile-img-profile rounded-circle shadow-sm border" width="200" height="200" src="{{profile.avatar.url}}"
                alt="current user profile image" id="profile-img-profile">
            </div>
            <a href="{% url 'account_settings' %}" role="button" class="btn update-btn position-absolute bottom-0 end-0 shadow-sm"><i class="fa-solid fa-user-pen"></i></a>

    </div>
    <div class="row my-1">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="boxes shadow-sm border">
                <h1 class="text-center my-1">{{profile.first_name}} {{profile.last_name}}</h1>
            </div>
            <div class="boxes shadow-sm border my-1">
                <h3 class="mx-3">Bio</h3>
                {% if profile.bio %}
                <h4 class="text-center my-1">{{profile.bio}}</h4>
                {% else %}
                <a href="{% url 'account_settings' %}" class="text-center text-black-50"><p>Write a few words about yourself <i class="fa-solid fa-user-pen"></i></p></a>
                {% endif %}
            </div>
            <div class="boxes shadow-sm border my-1">
                <h3 class="mx-3">Friends</h3>
                {% if profile.friends.all > 0 %}
                    {% for friend in profile.friends.all %}
                    <h4 class="text-center my-1">{{friend}}</h4>
                    {% endfor %}
                {% else %}
                <p class="text-center">Your new friends will appear here</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}