@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

:root {
  --turquoise: #48e5c2ff;
  --isabelline: #f8f4f1ff;
  --french-violet: #7f2ccbff;
  --independence: #414361ff;
  --space-cadet: #2a2d43ff; 
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

.nav-bg {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 2;
}

.nav-bg,
.navbar {
  background-color: var(--space-cadet);
  height: fit-content;
}

.nav-link {
  color: var(--isabelline);
}

.nav-link:hover {
  color: var(--turquoise);
  text-shadow: 1px 1px 1px var(--independence);
}

.navbar-brand {
  color: var(--turquoise);
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

.navbar-toggler-icon {
  background-image: none;
}

#menu-toggle {
  border: 1px solid var(--turquoise);
}

#menu-toggle i {
  color: var(--turquoise);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.navbar .dropdown-menu {
  background-color: var(--independence);
}

.navbar .dropdown-item {
  color: white;
}
/**********************************************Footer */
footer {
  color: var(--isabelline);
  background-color: var(--independence);
}

footer a {
  color: var(--isabelline);
}

footer a i {
  font-size: 24px;
}

footer a i:hover {
  color: var(--turquoise);
}

/**********************************************forms */

.boxes,
.content-box,
.form-box {
  background-color: white;
  height: fit-content;
}

form {
  font-family: 'Oswald', sans-serif;
}

.abs-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-op-btn {
  color: var(--turquoise);
  background-color: var(--french-violet);
  font-size: 24px;
}

.log-op-btn:hover {
  color: var(--french-violet);
  background-color: var(--turquoise);
}

.form-head {
  color: var(--french-violet);
  text-shadow: 1px 1px 1px var(--independence);
}

.search-btn {
  color: var(--turquoise);
  background-color: var(--french-violet);
}

.search-btn:hover {
  color: var(--french-violet);
  background-color: var(--turquoise);
}

/********************profile images */

.profile-image-post {
  height: 40px;
}

/********************posts */

.post-box {
  height: fit-content;
}

.create-post-btn {
  border: 2px solid whitesmoke;
}

.create-post-btn:hover {
  background-color: whitesmoke;
}

.small-and-light {
  font-size: .8rem;
}

.post-options > button {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.post-options > button:hover {
  width: 30px;
  height: 30px;
  background-color: var(--french-violet);
  color: white;
}

.post-options > button:after{
  background-color: none;
  border-color: transparent;
}

.dropdown-item:hover {
  background-color: var(--turquoise);
  color: var(--space-cadet);
}

.post-btn {
  color: var(--french-violet);
  background-color: var(--turquoise);
}

.post-btn:hover {
  color: var(--turquoise);
  background-color: var(--french-violet);
}

.post-link:hover,
.post-link {
  color: var(--independence);
  cursor: pointer;
}

.user-post-options .btn:hover {
  color: white;
  font-weight: 700;
  background-color: var(--independence);
  transition: all 0.5s ease-in-out;
  border: none;
}
/***************************************************Alert messages*/

.alert {
  background-color: var(--turquoise);
  color: var(--independence);
}
