@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

:root {
  --turquoise: #48e5c2ff;
  --isabelline: #f8f4f1ff;
  --columbia-blue: #cae1ebff;
  --little-boy-blue: #89a6fbff;
  --carolina-blue: #3da5d9ff;
  --queen-blue: #3f749dff;
  --independence: #414361ff;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--isabelline);
}

h1 {
  font-weight: 300;
  color: var(--carolina-blue);
  text-shadow: 1px 1px 1px var(--independence);
}

.nav-bg {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 2;
}

.nav-bg,
.navbar {
  background-color: white;
}

.nav-link {
  color: var(--independence);
}

.nav-link:hover {
  color: var(--carolina-blue);
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--turquoise);
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 1px var(--independence);
}

.logo {
  width: 40px;
  border: 2px outset var(--turquoise);
}

.logo:active {
  border: 2px inset var(--turquoise);
}

.navbar-toggler-icon {
  background-image: none;
}

#menu-toggle {
  height: 40px;
  width: 45px;
  border: 2px outset whitesmoke;
}

#menu-toggle:active {
    border: 2px inset whitesmoke;
}

#menu-toggle span > i {
  color: var(--turquoise);
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.search-box {
  height: 40px;
  background-color: var(--isabelline);
  border: 2px inset;
}

/**********************************************Footer */
footer {
  color: var(--isabelline);
  background-color: var(--independence);
}

footer a {
  color: var(--isabelline);
}

footer a i {
  font-size: 24px;
}

footer a i:hover {
  color: var(--turquoise);
}

/**********************************************forms */

.boxes,
.content-box,
.form-box {
  background-color: white;
  height: fit-content;
}

form {
  font-family: 'Oswald', sans-serif;
}

.abs-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-op-btn {
  color: var(--turquoise);
  background-color: var(--queen-blue);
  font-size: 24px;
}

.log-op-btn:hover {
  color: var(--little-boy-blue);
  background-color: var(--turquoise);
}

.form-head {
  color: var(--carolina-blue);
  text-shadow: 1px 1px 1px var(--independence);
}

/********************profile images */

.profile-image-post {
  height: 40px;
}

.profile-pic-md,
.profile-image-feed {
  height: 100px;
}

/********************posts */

.post-box {
  height: fit-content;
}

.create-post-btn {
  border: 2px solid whitesmoke;
}

.create-post-btn:hover {
  background-color: whitesmoke;
}

.small-and-light {
  font-size: .8rem;
}

.post-options > button {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.post-options > button:hover {
  width: 30px;
  height: 30px;
  background-color: var(--little-boy-blue);
  color: white;
}

.post-options > button:after{
  background-color: none;
  border-color: transparent;
}

.dropdown-item:hover {
  background-color: var(--carolina-blue);
  color: white;
  transition: all 0.3s ease-in-out;
}

.post-btn {
  color: var(--little-boy-blue);
  background-color: var(--turquoise);
}

.post-btn:hover {
  color: var(--turquoise);
  background-color: var(--little-boy-blue);
}

.post-link:hover,
.post-link {
  color: var(--independence);
  cursor: pointer;
}

.user-post-options .btn:hover {
  font-weight: 700;
  background-color: var(--isabelline);
  transition: all 0.5s ease-in-out;
  border: none;
}
/***************************************************Alert messages*/

.alert {
  background-color: var(--columbia-blue);
  color: var(--independence);
}
