@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

:root {
  --turquoise: #48e5c2ff;
  --isabelline: #f8f4f1ff;
  --french-violet: #7f2ccbff;
  --independence: #414361ff;
  --space-cadet: #2a2d43ff; 
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
}

.nav-bg {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-bg,
.navbar {
  background-color: var(--space-cadet);
  height: fit-content;
}

.nav-link {
  color: var(--isabelline);
}

.nav-link:hover {
  color: var(--turquoise);
  text-shadow: 1px 1px 1px var(--independence);
}

.navbar-brand {
  color: var(--turquoise);
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
}

.navbar-toggler-icon {
  background-image: none;
}

#menu-toggle {
  border: 1px solid var(--turquoise);
}

#menu-toggle i {
  color: var(--turquoise);
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

/**********************************************Footer */
footer {
  color: var(--isabelline);
  background-color: var(--independence);
}

footer a {
  color: var(--isabelline);
}

footer a i {
  font-size: 24px;
}

footer a i:hover {
  color: var(--turquoise);
}

/**********************************************forms */

.content-box,
.form-box {
  background-color: white;
  width: fit-content;
  border: 2px solid white;
}

form {
  font-family: 'Oswald', sans-serif;
}

.abs-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}