{% extends "base.html" %}
{% load static %}
{% load inbox %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row mt-2">
    <div class="col-sm-12 col-md-3 col-lg-2 d-none d-sm-none d-md-block">
      <div class="profile-pic-md position-relative w-100">
        <img src="{{profile.background.url}}" alt="profile background image"
          class="shadow-sm boxes w-100 border position-absolute">
        <img class="profile-image-feed rounded-circle shadow-sm mt-2 position-absolute top-50 start-50 translate-middle"
          src="{{ profile.avatar.url }}" alt="current user profile image">
      </div>
      <div class="mt-5">
        <div class="list-group feed-profile-options boxes">
          <a href="{% url 'profile' %}" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Profile</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-users"></i> Friends</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-user-group"></i>
            Followers</a>
          <a href="/messages/inbox/" class="list-group-item list-group-item-action"><i class="fa-solid fa-message"></i>
            Messages
            {% inbox_count as messages_amount %}
            {% if messages_amount > 0 %}
            <span class="position-absolute top-50 end-0 translate-middle badge rounded-pill bg-danger">
              {{ messages_amount}}</span>
            {% endif %}</a>
          <a href="{% url 'chat' %}" class="list-group-item list-group-item-action"><i class="fa-solid fa-comments"></i></i>
            Chat Rooms</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
        {% include "posts/create_post.html" %}
      {% for post in posts %}
      {% include "posts/base.html" %}
      {% endfor %}
      <div class="pagination boxes shadow-sm border mt-2 py-2">
        <div class="step-links">
          {% if posts.has_previous %}
          <a href="?page=1" class="btn general-btn rounded py-1 px-2 mx-3">&laquo; first</a>
          <a href="?page={{ posts.previous_page_number }}" class="btn general-btn  py-1 px-2 mx-3 rounded">previous</a>
          {% endif %}
          {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}" class="btn general-btn py-1 px-2 mx-3 rounded">next</a>
          <a href="?page={{ posts.paginator.num_pages }}" class="btn general-btn  py-1 px-2 mx-3 rounded">last
            &raquo;</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4">
      <div class="content-box shadow-sm border w-100">
        <h6 class="text-center py-2"> People you may know <i class="fa-solid fa-angle-down"></i>
        </h6>
        {% for person in profiles %}
        <div class="d-flex flex-row mx-3">
          <div class="mx-4 d-flex flex-row w-50">
              <img class="user-post-image  my-2 rounded-circle shadow-sm  border" src="{{ person.avatar.url }}"
              alt="current user profile image" class="position-absolute">
          <a href="/profiles/view_profile/{{person.slug}}" aria-label="click link to go to users profile"
              class="my-auto"> 
              <p>{{person.user}}</p>
          </a>
          </div>
          <div class="w-50 my-3">
              <form action="/profiles/follow_profile/{{person.id}}">
                  <button class="btn btn-light mx-auto"><i class="fa-solid fa-plus"></i> Follow</button>
              </form>
          </div>
      </div>
        {% endfor %}
        <div class="pagination boxes shadow-sm mt-2 py-2">
          <div class="step-links">
            {% if profiles.has_previous %}
            <a href="?page=1" class="py-1 px-2 mx-3 rounded">&laquo; first</a>
            <a href="?page={{ profiles.previous_page_number }}" class="py-1 px-2 mx-3 rounded">previous</a>
            {% endif %}
            {% if profiles.has_next %}
            <a href="?page={{ profiles.next_page_number }}" class="py-1 px-2 mx-3 rounded">next</a>
            <a href="?page={{ profiles.paginator.num_pages }}" class="py-1 px-2 mx-3 rounded">last
              &raquo;</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="content-box w-100 shadow-sm p-2 mt-2 border boxes">
        <h6 class="text-center">Messages</h6>

      </div>
      <div class="w-100 shadow-sm border boxes mt-2 overflow-hidden">
        {% include "footer.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}