{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row mt-2">
    <div class="col-sm-12 col-md-3 col-lg-2 d-none d-sm-none d-md-block">
      <div class="profile-pic-md position-relative">
        <img src="{{profile.background_url}}" alt="profile background image"
          class="shadow-sm rounded w-100 position-absolute">
        <img class="profile-image-feed rounded-circle shadow-sm position-absolute top-50 start-50 translate-middle"
          src="{{ profile.avatar_url }}" alt="current user profile image">
      </div>
      <div class="mt-5">
        <div class="list-group feed-profile-options">
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Profile</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-users"></i> Friends</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-message"></i>
            Messages</a>
          <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-chess-board"></i>
            Games</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
      <div class="content-box post-box w-100 shadow-sm rounded-3 p-2 boxes">
        <div class="row">
          <div class="col-2">
            <img class="profile-image-post rounded-circle shadow-sm " src="{{ profile.avatar_url }}"
              alt="profile image of author"></div>
          <div class="col-10">
            <button class="btn create-post-btn w-100 rounded-pill text-start" type="button"
              aria-label="Click here to create a post" data-bs-toggle="modal" data-bs-target="#feed-create-post">Create
              a
              post</button></div>
        </div>
      </div>

      {% for post in posts %}
      {% comment "TODO:" %} condition for friends of user posts {% endcomment %}
      <div class="content-box w-100 shadow-sm rounded mt-2 py-1 px-2 boxes">
        <div class="post-options dropdown position-relative text-end" id="post-{{post.id}}">
          <button aria-label="Click here to show the options you can use on a post"
            class="btn dropdown-toggle rounded-circle position-relative mx-1" type="button" type="button" data-toggle="dropdown"
            aria-expanded="false" data-flip="false" onclick="postDropdown({{post.id}})">
            <i class="fa-solid fa-ellipsis position-absolute top-50 start-50 translate-middle"></i>
          </button>
          <ul class="dropdown-menu post-dropdown-{{post.id}} position-absolute top-100 end-0"
            style="width: fit-content;">
            {% if post.author == user %}
            <li><a class="dropdown-item" href="/posts/edit/{{post.id}}">Edit</a></li>
            <li><a class="dropdown-item" href="/posts/delete/{{post.id}}">Delete</a></li>
            {% else %}
            <li><a class="dropdown-item" href="#">Share post</a>
            <li><a class="dropdown-item" href="#">Report</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="author-post">
          <div class="w-100 d-flex flex-row">
            <img class="profile-image-post rounded-circle shadow-sm mx-3" src="{{ post.author.profile.avatar_url }}"
              alt="profile image of author">
          </div>
          <ul class="list-style-none">
            <a class="mx-3 fs-6">{{post.author}}</a>
            <p class="mx-3 small-and-light">{{post.calc_time_since}}</p>
          </ul>
        </div>
        <a href="{% url 'view_post' post.slug %}" class="post-link text-decoration-none">
          <h5 class="w-100 text-center">{{post.title}}</h5>
          <p class="text-center">{{post.post_body}}</p>
        </a>

        <div class="row mx-3 g-0">
          <p class="col-6 w-50 text-start">
            {% if post.count_likes > 0%}
            {{post.count_likes}} Likes
            {% endif %}
          </p>
          <p class="col-6 w-50 text-end">
            {% if post.count_comments > 0 %}
            <a href="{% url 'view_post' post.slug %}">{{post.count_comments}}
              Comments</a>
            {% endif %}
          </p>
        </div>

        <hr class="m-0">
        <div class="row user-post-options m-0">
          <div class="likes-container col-4 position-relative gx-0">
            <form class="like-btn position-absolute w-100" action="/posts/like_post/{{post.id}}/like/">
              {% csrf_token %}
              <button name="Like button" class="likes btn w-100"
                aria-label="Click here to leave a emoji like on a post">
                {% if user in post.thumbs_likes.all %}
                <i class="fa-solid fa-thumbs-up blue-like fs-4"></i><span class="blue-like"> Like</span>
                {% elif user in post.heart_likes.all %}
                <i class="fa-solid fa-heart fs-4"></i><span class=""> Love</span>
                {% elif user in post.laugh_likes.all %}
                <i class="fa-solid fa-face-laugh-squint fs-4"></i><span class=""> Laugh</span>
                {% elif user in post.angry_likes.all %}
                <i class="fa-solid fa-face-angry fs-4"></i><span class=""> Angry</span>
                {% else %}
                <i class="fa-solid fa-thumbs-up"></i> Like
                {% endif %}
              </button>
            </form>
            <div class="emojies boxes shadow-sm rounded d-flex flex-row p-2">
              <form action="/posts/like_post/{{post.id}}/like/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-thumbs-up blue-like"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/love/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-heart"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/laugh/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-face-laugh-squint"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/angry/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-face-angry"></i></button>
              </form>
            </div>
          </div>
          <button class="col-4 btn" onclick="commentForm({{post.id}})">
            <i class="fa-solid fa-comment"></i> Comment
          </button>
          <button class="col-4 btn">
            <i class="fa-solid fa-share-nodes"></i> Share
          </button>
        </div>
        <div class="row comment-form-{{post.id}} d-none">
          <form method="post" action="/posts/create_comment/{{post.id}}/">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <div class="text-end"><button type="submit" class="general-btn btn rounded-5 my-2">Submit</button></div>
          </form>
        </div>
      </div>
      {% endfor %}
    <div class="pagination boxes shadow-sm rounded mt-2 py-2">
      <div class="step-links">
        {% if posts.has_previous %}
        <a href="?page=1" class="btn general-btn  py-1 px-2 mx-3 rounded">&laquo; first</a>
        <a href="?page={{ posts.previous_page_number }}" class="btn general-btn  py-1 px-2 mx-3 rounded">previous</a>
        {% endif %}
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="btn general-btn py-1 px-2 mx-3 rounded">next</a>
        <a href="?page={{ posts.paginator.num_pages }}" class="btn general-btn  py-1 px-2 mx-3 rounded">last &raquo;</a>
        {% endif %}
      </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4">
      <div class="content-box w-100 shadow-sm rounded p-2 boxes">
        <h6>People you may know</h6>
      </div>
      <div class="content-box w-100 shadow-sm rounded p-2 mt-2 boxes">
        <h6>Messages</h6>
      </div>
      <div class="w-100 shadow-sm rounded mt-4">
        {% include "footer.html" %}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal-container">
</div>

{% endblock %}