{% extends "django_messages/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-3 boxes shadow-sm">
  <div>
    {% include "django_messages/index.html" %}
</div>
<div class="mt-2 p-2">
    <h1 class="text-center">{% trans "Compose Message"%}</h1>
    <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value='{% trans "Send" %}' class="w-100 btn general-btn my-1"/>
    </form>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}
