<div class="content-box post-box w-100 shadow-sm border p-2 boxes">
  <div class="row">
    <div class="col-2">
      <img class="profile-image-post rounded-circle border shadow-sm" src="{{ profile.avatar.url }}"
        alt="profile image of author">
    </div>
    <div class="col-10">
      <button class="btn create-post-btn w-100 rounded-pill border text-start" type="button"
        aria-label="Click here to create a post" data-bs-toggle="modal" data-bs-target="#general-modal">Create
        a
        post</button>
    </div>
  </div>
</div>