{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 mt-2">
      {% include "posts/base.html" %}
    </div>
    <div class="col-sm-12 col-md-8 shadow-sm border boxes">
      {% for comment in comments %}
      <div class="col-8 offset-2 mt-1">
        <div class="dark-boxes border">
          <div class="post-options dropdown text-end">
            <button class="btn dropdown-toggle rounded-circle position-relative mx-3" type="button"
              data-toggle="dropdown" data-flip="false" aria-expanded="false" onclick="commentDropdown({{comment.id}})">
              <i class="fa-solid fa-ellipsis position-absolute top-50 start-50 translate-middle"></i>
            </button>
            <ul class="dropdown-menu boxes border comment-dropdown-{{comment.id}} position-absolute top-100 end-0">
              {% if post.author == user %}
              <li><a class="dropdown-item" href="/posts/edit_comment/{{comment.id}}">Edit</a></li>
              <li><a class="dropdown-item" href="/posts/delete_comment/{{comment.id}}">Delete</a></li>
              {% else %}
              <li><a class="dropdown-item" href="#">Share post</a>
              <li><a class="dropdown-item" href="#">Report</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="d-flex flex-row">
            <img src="{{comment.name.profile.avatar.url}}"
              alt="profile picture of user that commented on post"
              class="profile-image-post rounded-circle shadow-sm mx-3">
            <h6>{{comment.name}}</h6>
          </div>
          <p class="text-center">{{comment.content}}</p>
          {% if comment.count_likes > 0 %}
          <p class="text-start mx-4">{{comment.count_likes}} likes</p>
          {% endif %}
          <div class="row user-post-options m-0 position-relative">
            <form class="like-btn" action="/posts/like_comment/{{comment.id}}/like/">
              {% csrf_token %}
              <button name="Like button" class="likes btn w-100" aria-label="Click here to leave a emoji like on a comment">
                {% if user in comment.thumbs_likes.all %}
                <i class="fa-solid fa-thumbs-up fs-5 blue-like"></i><span class="d-none d-sm-none d-md-block"> Like</span>
                {% elif user in comment.heart_likes.all %}
                <span class="fs-5">&#10084;&#65039;</span><span class="d-none d-sm-none d-md-block"> Love</span>
                {% elif user in comment.laugh_likes.all %}
                <span class="fs-5">&#128514</span><span class="d-none d-sm-none d-md-block"> Laugh</span>
                {% elif user in comment.angry_likes.all %}
                <span class="fs-5">&#128545</span><span class="d-none d-sm-none d-md-block"> Angry</span>
                {% else %}
                <i class="fa-solid fa-thumbs-up"></i><span class="d-none d-sm-none d-md-block"> Like</span>
                {% endif %}
              </button>
            </form>
            <div class="emojies boxes shadow-sm rounded d-flex flex-row p-2">
              <form action="/posts/like_comment/{{comment.id}}/like/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-thumbs-up fs-5 blue-like"></i></button>
              </form>
              <form action="/posts/like_comment/{{comment.id}}/love/">
                {% csrf_token %}
                <button class="btn"><span class="fs-5">&#10084;&#65039;</span></button>
              </form>
              <form action="/posts/like_comment/{{comment.id}}/laugh/">
                {% csrf_token %}
                <button class="btn"><span class="fs-5">&#128514</span></button>
              </form>
              <form action="/posts/like_comment/{{comment.id}}/angry/">
                {% csrf_token %}
                <button class="btn"><span class="fs-5">&#128545</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>

</div>

{% include "footer.html" %}
{% endblock %}