{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row position-relative mt-2">
    <div class="col-sm-12 col-md-8 content-box shadow-sm rounded mt-4 boxes postition-relative">
      <div class="post-options dropdown text-end position-relative">
        <button class="btn dropdown-toggle rounded-circle position-relative mx-3" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis position-absolute top-50 start-50 translate-middle"></i>
        </button>
        <ul class="dropdown-menu">
          {% if post.author == user %}
          <li><a class="dropdown-item" href="#">Edit</a></li>
          <li><a class="dropdown-item" href="/posts/delete/{{post.id}}">Delete</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="#">Report</a></li>
        </ul>
      </div>
      <a href="{% url 'view_post' post.slug %}" class="post-link text-decoration-none">
        <div class="author-post d-flex flex-row">
          <div class="w-100">
            <img class="profile-image-post rounded-circle shadow-sm mx-3"
              src="{% static 'img/default-profile-image.png' %}" alt="profile image of author">
            <p class="mx-3 w-100 fs-6">{{post.author}},<span class="small-and-light">{{post.created_on}}</span></p>
          </div>
        </div>
        <h5 class="w-100 text-center">{{post.title}}</h5>
        <p class="text-center">{{post.content}}</p>
        <div class="w-100">
          <p class="text-start">{{post.count_likes}}</p>
          <p class="text-end"></p>
        </div>
      </a>
      <br>
      <div class="row user-post-options m-0">
        <button class="col-4 btn">
          <i class="fa-solid fa-thumbs-up"></i> Like
        </button>
        <button class="col-4 btn" onclick="commentForm({{post.id}})">
          <i class="fa-solid fa-comment"></i> Comment
        </button>
        <button class="col-4 btn">
          <i class="fa-solid fa-share-nodes"></i> Share
        </button>
      </div>
      <div class="row comment-form-{{post.id}} d-none">
        <form method="post">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn w-100">Submit</button>
        </form>
      </div>

    </div>


    <div class="col-sm-12 col-md-4 mt-4">
      <h5 class="d-none d-sm-none d-md-block text-center">Comments</h5>
      {% for comment in comments %}
      <div class="content-box shadow-sm rounded  boxes text-center p-1 my-1">
        <p class="text-center">{{comment.content}}</p>
        <p class="text-end">- {{comment.name}}</p>
        <div class="row user-post-options m-0">
          <button class="col-12 btn">
            <i class="fa-solid fa-thumbs-up"></i> Like
          </button>
        </div>
      </div>
      {% endfor %}
      {% include "footer.html" %}
    </div>

  </div>

  {% endblock %}