{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 mt-2">
      <div class="boxes shadow-sm rounded p-2">
        <div class="post-options dropdown position-relative text-end" id="post-{{post.id}}">
          <button aria-label="Click here to show the options you can use on a post"
            class="btn dropdown-toggle rounded-circle position-relative mx-1" type="button" data-toggle="dropdown"
            aria-expanded="false" data-flip="false" onclick="postDropdown({{post.id}})">
            <i class="fa-solid fa-ellipsis position-absolute top-50 start-50 translate-middle"></i>
          </button>
          <ul class="dropdown-menu post-dropdown-{{post.id}} position-absolute top-100 end-0">
            {% if post.author == user %}
            <li><a class="dropdown-item" href="/posts/edit/{{post.id}}">Edit</a></li>
            <li><a class="dropdown-item" href="/posts/delete/{{post.id}}">Delete</a></li>
            {% else %}
            <li><a class="dropdown-item" href="#">Share post</a>
            <li><a class="dropdown-item" href="#">Report</a></li>
            {% endif %}
          </ul>
        </div>
        <a href="{% url 'view_post' post.slug %}" class="post-link text-decoration-none">
          <div class="author-post">
            <div class="w-100 d-flex flex-row">
              <img class="profile-image-post rounded-circle shadow-sm mx-3" src="{{ post.author.profile.avatar_url }}"
                alt="profile image of author">
            </div>
            <ul class="list-style-none">
              <a class="mx-3 fs-6">{{post.author}}</a>
              <p class="mx-3 small-and-light">{{post.calc_time_since}}</p>
            </ul>
          </div>
          <h5 class="w-100 text-center">{{post.title}}</h5>
          <p class="text-center">{{post.post_body}}</p>
          <div class="row mx-3 g-0">
            <p class="col-6 w-50 text-start">
              {% if post.count_likes > 0%}
              {{post.count_likes}} Likes
              {% endif %}
            </p>
            <p class="col-6 w-50 text-end">
              {% if post.count_comments > 0 %}
              <a href="{% url 'view_post' post.slug %}">{{post.count_comments}}
                Comments</a>
              {% endif %}
            </p>
          </div>
        </a>
        <hr class="m-0">
        <div class="row user-post-options m-0">
          <div class="likes-container col-4 position-relative gx-0">
            <form class="like-btn position-absolute w-100" action="/posts/like_post/{{post.id}}/like/">
              {% csrf_token %}
              <button name="Like button" class="likes btn w-100"
                aria-label="Click here to leave a emoji like on a post">
                {% if user in post.thumbs_likes.all %}
                <i class="fa-solid fa-thumbs-up blue-like fs-4"></i><span class="blue-like"> Like</span>
                {% elif user in post.heart_likes.all %}
                <i class="fa-solid fa-heart fs-4"></i><span class=""> Love</span>
                {% elif user in post.laugh_likes.all %}
                <i class="fa-solid fa-face-laugh-squint fs-4"></i><span class=""> Laugh</span>
                {% elif user in post.angry_likes.all %}
                <i class="fa-solid fa-face-angry fs-4"></i><span class=""> Angry</span>
                {% else %}
                <i class="fa-solid fa-thumbs-up"></i> Like
                {% endif %}
              </button>
            </form>
            <div class="emojies boxes shadow-sm rounded d-flex flex-row p-2">
              <form action="/posts/like_post/{{post.id}}/like/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-thumbs-up blue-like"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/love/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-heart"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/laugh/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-face-laugh-squint"></i></button>
              </form>
              <form action="/posts/like_post/{{post.id}}/angry/">
                {% csrf_token %}
                <button class="btn"><i class="fa-solid fa-face-angry"></i></button>
              </form>
            </div>
          </div>


          <button class="col-4 btn" onclick="commentForm({{post.id}})">
            <i class="fa-solid fa-comment"></i> Comment
          </button>
          <button class="col-4 btn">
            <i class="fa-solid fa-share-nodes"></i> Share
          </button>
        </div>
        <div class="row comment-form-{{post.id}} d-none">
          <form method="post" action="/posts/create_comment/{{post.id}}/">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <div class="text-end"><button type="submit" class="general-btn btn rounded-5 my-2"
                aria-label="Click here to submit your comment">Submit</button></div>

          </form>
        </div>
        <hr class="m-0">
        {% for comment in comments %}
        <div class="dark-boxes rounded mx-3 my-2">
          <div class="rounded post-options dropdown text-end">
            <button class="btn dropdown-toggle rounded-circle position-relative mx-3" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis position-absolute top-50 start-50 translate-middle"></i>
            </button>
            <ul class="dropdown-menu">
              {% if post.author == user %}
              <li><a class="dropdown-item" href="/posts/edit_comment/{{comment.id}}">Edit</a></li>
              <li><a class="dropdown-item" href="/posts/delete_comment/{{comment.id}}">Delete</a></li>
              {% else %}
              <li><a class="dropdown-item" href="#">Share post</a>
              <li><a class="dropdown-item" href="#">Report</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="d-flex flex-row">
            <img src="{{comment.post.author.profile.avatar_url}}" alt="profile picture of user that commented on post"
              class="profile-image-post rounded-circle shadow-sm mx-3">
            <h6>{{comment.name}}</h6>
          </div>
            <p class="text-center">{{comment.comment}}</p>
            <p class="text-start mx-4">{{comment.count_likes}} likes</p>
            <div class="row user-post-options m-0 position-relative">
              <form class="like-btn" action="/posts/like_comment/{{comment.id}}/like/">
                {% csrf_token %}
                <button name="Like button" class="likes btn" aria-label="Click here to leave a emoji like on a post">
                  {% if user in comment.thumbs_likes.all %}
                  <i class="fa-solid fa-thumbs-up blue-like fs-4"></i><span class="blue-like"> Like</span>
                  {% elif user in comment.heart_likes.all %}
                  <i class="fa-solid fa-heart fs-4"></i><span class=""> Love</span>
                  {% elif user in comment.laugh_likes.all %}
                  <i class="fa-solid fa-face-laugh-squint fs-4"></i><span class=""> Laugh</span>
                  {% elif user in comment.angry_likes.all %}
                  <i class="fa-solid fa-face-angry fs-4"></i><span class=""> Angry</span>
                  {% else %}
                  <i class="fa-solid fa-thumbs-up"></i> Like
                  {% endif %}
                </button>
              </form>
              <div class="emojies boxes shadow-sm rounded d-flex flex-row p-2">
                <form action="/posts/like_comment/{{comment.id}}/like/">
                  {% csrf_token %}
                  <button class="btn"><i class="fa-solid fa-thumbs-up blue-like"></i></button>
                </form>
                <form action="/posts/like_comment/{{comment.id}}/love/">
                  {% csrf_token %}
                  <button class="btn"><i class="fa-solid fa-heart"></i></button>
                </form>
                <form action="/posts/like_comment/{{comment.id}}/laugh/">
                  {% csrf_token %}
                  <button class="btn"><i class="fa-solid fa-face-laugh-squint"></i></button>
                </form>
                <form action="/posts/like_comment/{{comment.id}}/angry/">
                  {% csrf_token %}
                  <button class="btn"><i class="fa-solid fa-face-angry"></i></button>
                </form>
              </div>
          </div>

        </div>
        {% endfor %}
      </div>

    </div>

    <div class="col-sm-12 col-md-5 mt-4">


    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal-container">
</div>
{% include "footer.html" %}
{% endblock %}